* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    margin-bottom: 50px;
}

.logo img {
    width: 200px;
}

.search-bar input {
    padding: 20px;
    width: 350px;
    border: none;
    border-radius: 5px;
    background-image: url('images/search.png'); 
    background-repeat: no-repeat;
    background-size: 20px 20px; 
    background-position: right 10px center; 
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: black;
}

.container {
    max-width: 100%;
    max-height: 100%;
    padding: 15px;
    background-color: black;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.slider .slick-slide img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}

.slider {
    background-color: #333; /* Warna abu-abu untuk bagian slider saja */
    padding: 20px;
    border-radius: 10px;
}

.slick-prev, .slick-next {
    width: 50px;
    height: 50px;
    z-index: 1;
}
.slick-prev {
    left: 5px;
}
.slick-next {
    right: 5px;
}
.slick-prev:before, 
.slick-next:before {
    font-size: 40px;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.slick-dots {
    bottom: 15px;
}

.slick-dots li button:before {
    font-size: 12px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    opacity: 1;
}
.slick-dots li.slick-active button:before {
    color: #dedede;
}


.slider:not(:hover) .slick-arrow,
.slider:not(:hover) .slick-dots {
    opacity: 0;
}

.slick-arrow,
.slick-dots {
    transition: opacity 0.5s ease-out;
}

.recommendation {
    padding: 20px;
    background: black;
    border: none;
    margin: 0;
}

.recommendation h3 {
    margin-block-start: 10px;
    color: #ffff;
    margin-inline-start: -23px;
}

.recommendation a, p {
    text-decoration: none;
    color: #ffff;
}

.recommendation h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background: black;
}

.movie-card {
    text-align: center;
}

.movie-card img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 25px;
}

.movie-card p {
    margin-top: 10px;
    font-size: 25px;
}

footer {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
    color: #888888;
}
